# Week 1
# 1 February, 2023

In [1]:
print("Hello World")

Hello World

In [2]:
a=10
b=20
c=a+b
print("Sum:",end="")
print(c)

Sum:30

In [3]:
list=["Apple","Banana","Cherry"]
print(list)

['Apple', 'Banana', 'Cherry']

In [4]:
print("Using positive index",end="\n")
for x in range(0,len(list)):
    print(list[x])
print("\nUsing negative index",end="\n")
print(list[-1])
print(list[-2])
print(list[-3])

Using positive index
Apple
Banana
Cherry

Using negative index
Cherry
Banana
Apple

In [5]:
i=int(input("Enter a number:"))
if(i%2==0):
    if(i>20):
        print("Even number, greater than 20")
    else:
        print("Even number, lesser than 20")
else:
    if(i>20):
        print("Odd number, greater than 20")
    else:
        print("Odd number, lesser than 20")

Enter a number:3
Odd number, lesser than 20

In [6]:
i=int(input("Enter a number:"))
if(i%2==0):
    print("Number is divisible by 2")
elif(i%3==0):
    print("Number is divisible by 3")
elif(i%5==0):
    print("Number is divisible by 5")
else:
    print("Not divisible by 2, 3 or 5")

Enter a number:3
Number is divisible by 3

In [7]:
x=input("Enter a value:")
print("Type of x:",end="")
print(type(x))
y=int(input("Enter a value:"))
print("Type of y:",end="")
print(type(y))

Enter a value:3
Type of x:<class 'str'>
Enter a value:4
Type of y:<class 'int'>

In [8]:
i=int(input("Enter a positive number:"))
if(i>=0):
    print("Sum of number upto entered number:",end="")
    print(int(i*(i+1)/2))
else:
    print("Enter a positive number!")

Enter a positive number:4
Sum of number upto entered number:10

In [9]:
feet=float(input("Enter feet value:"))
inches=float(input("Enter inches value:"))
print("Value in centimeters:",end="")
print((feet*12*2.54)+(inches*2.54))

Enter feet value:4
Enter inches value:4
Value in centimeters:132.08

In [10]:
humanyears=float(input("Enter number of human years:"))
if(humanyears>=0):
    if(humanyears<=2):
        print("Number of dog years:",end="")
        print(7*humanyears)
    if(humanyears>2):
        print("Number of dog years:",end="")
        print((10.5*2)+(humanyears-2)*4)
else:
    print("Enter positive number of years!")

Enter number of human years:4
Number of dog years:29.0

In [11]:
month=input("Enter name of the month:")
if(month=="January" or month=="March" or month=="May" or month=="July" or month=="August" or month=="October" or month=="December"):
    print("31 days")
elif(month=="February"):
    print("28 or 29 days")
elif(month=="April" or month=="June" or month=="September" or month=="November"):
    print("30 days")
else:
    print("Enter a valid month name!")

Enter name of the month:April
30 days

In [12]:
i=int(input("Enter row number:"))
k=['a','b','c','d','e','f','g','h']
l=(8*(i-1))+(k.index(input("Enter column name:")))
if(i%2!=0):
    if(l%2==0):
        print("Black square")
    else:
        print("White square")
else:
    if(l%2==0):
        print("White square")
    else:
        print("Black square")

Enter row number:3
Enter column name:c
Black square

In [13]:
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
for x in range(a,b+1):
    if(x%2==0):
        print(x)

Enter a number:32
Enter a number:23

In [14]:
k=[]
for x in range(1,11):
    i=int(input("Enter a number:"))
    k.append(i)
for j in range(0,len(k)):
    if(k[j]%2==0):
        print(k[j])

Enter a number:23
Enter a number:3
Enter a number:2
Enter a number:3
Enter a number:3
Enter a number:3
Enter a number:3
Enter a number:3
Enter a number:3
Enter a number:3
2

In [15]:
import random as r
i=r.randint(1,200)
print(i)

78

In [16]:
import random as r
k=[]
for u in range(0,20):
   k.append(r.randint(1,1000))
k.sort()
print(k)
Q1=k[int((len(k)/4))-1]
Q2=k[int(len(k)/2)-1]
Q3=k[int(3*(len(k)/4))-1]
print("Minimum:",min(k))
print("Q1:",Q1)
print("Q2:",Q2)
print("Q3:",Q3)
print("Maximum:",max(k))
IQR=Q3-Q1
print("IQR:",IQR)
print("Outliers:",end="")
for i in range(0,len(k)):
    if((k[i]<(Q1-1.5*IQR) or (k[i]>(Q3+1.5*IQR)))):
        print(k[i],end=",")

[11, 35, 106, 191, 253, 284, 287, 319, 321, 515, 572, 573, 580, 603, 638, 859, 895, 916, 948, 958]
Minimum: 11
Q1: 253
Q2: 515
Q3: 638
Maximum: 958
IQR: 385
Outliers:

In [17]:
mean=[0,0,0,0]
marks=[38, 41, 36, 31, 45, 38, 27, 32, 29, 39]
for i in range(0,len(marks)):
    mean[0]=mean[0]+marks[i]
    mean[1]=mean[1]+marks[i]+2
    mean[2]=mean[2]+marks[i]-1
    mean[3]=mean[3]+(marks[i]/2)
print("Mean(a):",mean[0]/len(marks),end=",")
print("Mean(b):",mean[1]/len(marks),end=",")
print("Mean(c):",mean[2]/len(marks),end=",") 
print("Mean(d):",mean[3]/len(marks))

Mean(a): 35.6,Mean(b): 37.6,Mean(c): 34.6,Mean(d): 17.8

In [18]:
a="abcdefghijk"
for i in range(int(len(a)/2)-2,int(len(a)/2)+2):
    print(a[i])

d
e
f
g